.week-summary {
  padding: 16px;
  border: 1px #ccc solid;
  margin-bottom: 16px;
  background: #fff;
}
.week-summary__title {
  color: #21a179;
}
.week-summary__title::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background: tomato;
  border-radius: 50%;
}
.week-summary__title::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background: tomato;
  border-radius: 50%;
}
.week-summary--special {
  border: 1px #92140c solid;
}
.week-summary__description {
  color: #92140c;
}
